<form [formGroup]="addReservationForm" class="popup-card-width add-new-user">
    <div>
        <h2 mat-dialog-title>Add New Reservation</h2>
    </div>
    <mat-dialog-content class="mb-4">
        <div>
            <div>
                <mat-form-field class="w-100">
                    <select matNativeControl formControlName="IdClient" placeholder="Client UserName">
                        <option *ngFor="let client of clients" [value]="client.Id" >{{ client?.UserName }}</option>
                    </select >
                    <mat-error *ngIf="addReservationForm.controls['IdClient'].touched && !addReservationForm.controls['IdClient'].valid">
                        <mat-error *ngIf="addReservationForm.controls['IdClient'].hasError('required')" class="required alert-error">
                            You must Select a Client Name.
                        </mat-error>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-100">
                    <select matNativeControl formControlName="IdClub" placeholder="Club Name" (change)="getTerrains()">
                        <option *ngFor="let club of clubs" [value]="club.IdClub" >{{ club?.Name }}</option>
                    </select >
                    <mat-error *ngIf="addReservationForm.controls['IdClub'].touched && !addReservationForm.controls['IdClub'].valid">
                        <mat-error *ngIf="addReservationForm.controls['IdClub'].hasError('required')" class="required alert-error">
                            You must Select a Club Name.
                        </mat-error>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-100">
                        <select matNativeControl formControlName="IdTerrain" placeholder="Terrain Name">
                            <option *ngFor="let terrain of terrains" [value]="terrain.IdTerrain">{{ terrain?.Name }}</option>
                        </select >
                        <mat-error *ngIf="addReservationForm.controls['IdTerrain'].touched && !addReservationForm.controls['IdTerrain'].valid">
                            <mat-error *ngIf="addReservationForm.controls['IdTerrain'].hasError('required')" class="required alert-error">
                                You must Select a Terrain Name.
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                

                <mat-form-field class="w-100">
                    <input matInput  [matDatepicker]="picker" placeholder="Reservation Day"  formControlName="resDay" autocomplete="off">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="addReservationForm.get('resDay').hasError('required') && addReservationForm.get('resDay').touched">This field should not be empty.</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <input matInput type="time" placeholder="Starting Time" formControlName="StartRes">
                    <mat-error *ngIf="addReservationForm.get('StartRes').hasError('required') && addReservationForm.get('StartRes').touched">This field should not be empty.</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <input matInput type="time" placeholder="Ending Time" formControlName="EndRes">
                    <mat-error *ngIf="addReservationForm.get('EndRes').hasError('required') && addReservationForm.get('EndRes').touched">This field should not be empty.</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <select matNativeControl formControlName="status" placeholder="Reservation Status">
                        <option value="Confirmed">Confirmed</option>
                        <option value="Waiting For Confirmation">Waiting For Confirmation</option>
                        <option value="Reported">Reported</option>
                    </select>
                    <mat-error *ngIf="addReservationForm.controls['status'].touched && !addReservationForm.controls['status'].valid">
                        <mat-error *ngIf="addReservationForm.controls['status'].hasError('required')" class="required alert-error">
                            You must Select a Reservation Status.
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions class="m-0">
        <button type="button" mat-raised-button (click)="dialogRef.close()" color="primary">CLOSE</button>
        <button (click)="onFormSubmit()" type="submit" [disabled]="!addReservationForm.valid" mat-raised-button color="warn">SUBMIT</button>
    </mat-dialog-actions>
</form>
<!-- add-new-Reservation -->