<form [formGroup]="form" (ngSubmit)="updateClub()">
    <div class="product-detail-page section-gap">
        <div class="container">
            <div fxLayout='row wrap' fxLayoutAlign="center center" class="col-gap">
                <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=90 fxFlex.lg="80" fxFlex.xl="90">
                    <div fxLayout='row wrap' class="col-gap position-relative">
                        <!-- image -->
                        <!-- image -->
                        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=50 fxFlex.lg="50" fxFlex.xl="50">
                            <div class="product-detail-content ml-3">
                                <a class="primary-color font-medium" href="javascript:void(0)" routerLink="/admin-panel/clubs">Back to clubs</a>
                                <h3 class="edit-text"><input matInput formControlName="Name" type="text"></h3>
                                <!-- <div class="product-detail-price">
                            <h4 class="accent-color edit-text"><input matInput  formControlName="price" type="text"></h4>
                         </div> -->
                                <!-- club-detail -->
                                <ul class="no-style mb-4">
                                    <li class="edit-text" fxLayout="row wrap" fxLayoutAlign="start start">
                                        <span class="font-medium"> Address </span>:
                                        <input class="ml-2" matInput formControlName="Address" type="text">
                                    </li>
                                    <li class="edit-text" fxLayout="row wrap" fxLayoutAlign="start start">
                                        <span class="font-medium"> Phone </span>:
                                        <input class="ml-2" matInput formControlName="Phone" type="text">
                                    </li>
                                    <li class="edit-text" fxLayout="row wrap" fxLayoutAlign="start start">
                                        <span class="font-medium">Email</span>:
                                        <input class="ml-2" matInput formControlName="Email" type="text">
                                    </li>
                                    <li class="edit-text" fxLayout="row wrap" fxLayoutAlign="start start">
                                        <span class="font-medium">Opening Time</span>:
                                        <input type="time" placeholder="Opening Time" formControlName="OpeningTime">


                                    </li>
                                    <li class="edit-text" fxLayout="row wrap" fxLayoutAlign="start start">
                                        <span class="font-medium">Closing Time</span>:
                                        <input type="time" placeholder="Closing Time" formControlName="ClosingTime">

                                    </li>
                                    <li class="edit-text" fxLayout="row wrap" fxLayoutAlign="start start">
                                        <span class="font-medium">IsActive</span>:
                                        <select matNativeControl formControlName="IsActive" placeholder="Club Status">
                                            <option value="true">Active</option>
                                            <option value="false">Not Active</option>
                                        </select>
                                    </li>

                                </ul>
                                <div class="mb-5 detail-btns">
                                    <button mat-raised-button color="accent" class="button-lg mr-3">Save</button>
                                    <button class="button-lg" mat-raised-button (click)="backClicked()">Discard</button>
                                </div>
                            </div>
                            <!-- club-detail-content -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- club-detail-page -->
</form>